---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/FooFoBerry/github_notification_dummy_app?client_id=ENV%5B%27GH_APP_CLIENT_ID%27%5D&client_secret=ENV%5B%27GH_CLIENT_SECRET%27%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '31'
      x-ratelimit-reset:
      - '1390106723'
      last-modified:
      - Sat, 18 Jan 2014 23:56:09 GMT
      etag:
      - '"7377e842fc0ba7156afc580b38008bdb"'
      x-github-media-type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"id":16033562,"name":"github_notification_dummy_app","full_name":"FooFoBerry/github_notification_dummy_app","owner":{"login":"FooFoBerry","id":6363299,"avatar_url":"https://identicons.github.com/6364eab667167e81e1b720d799590312.png","gravatar_id":null,"url":"https://api.github.com/users/FooFoBerry","html_url":"https://github.com/FooFoBerry","followers_url":"https://api.github.com/users/FooFoBerry/followers","following_url":"https://api.github.com/users/FooFoBerry/following{/other_user}","gists_url":"https://api.github.com/users/FooFoBerry/gists{/gist_id}","starred_url":"https://api.github.com/users/FooFoBerry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FooFoBerry/subscriptions","organizations_url":"https://api.github.com/users/FooFoBerry/orgs","repos_url":"https://api.github.com/users/FooFoBerry/repos","events_url":"https://api.github.com/users/FooFoBerry/events{/privacy}","received_events_url":"https://api.github.com/users/FooFoBerry/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/FooFoBerry/github_notification_dummy_app","description":"App
        used to test callbacks from Github service","fork":false,"url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app","forks_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/forks","keys_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/teams","hooks_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/hooks","issue_events_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/issues/events{/number}","events_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/events","assignees_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/assignees{/user}","branches_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/branches{/branch}","tags_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/tags","blobs_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/git/refs{/sha}","trees_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/statuses/{sha}","languages_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/languages","stargazers_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/stargazers","contributors_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/contributors","subscribers_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/subscribers","subscription_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/subscription","commits_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/commits{/sha}","git_commits_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/git/commits{/sha}","comments_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/comments{/number}","issue_comment_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/issues/comments/{number}","contents_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/contents/{+path}","compare_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/merges","archive_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/downloads","issues_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/issues{/number}","pulls_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/pulls{/number}","milestones_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/milestones{/number}","notifications_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/labels{/name}","releases_url":"https://api.github.com/repos/FooFoBerry/github_notification_dummy_app/releases{/id}","created_at":"2014-01-18T20:38:46Z","updated_at":"2014-01-18T23:56:09Z","pushed_at":"2014-01-18T23:56:09Z","git_url":"git://github.com/FooFoBerry/github_notification_dummy_app.git","ssh_url":"git@github.com:FooFoBerry/github_notification_dummy_app.git","clone_url":"https://github.com/FooFoBerry/github_notification_dummy_app.git","svn_url":"https://github.com/FooFoBerry/github_notification_dummy_app","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","organization":{"login":"FooFoBerry","id":6363299,"avatar_url":"https://identicons.github.com/6364eab667167e81e1b720d799590312.png","gravatar_id":null,"url":"https://api.github.com/users/FooFoBerry","html_url":"https://github.com/FooFoBerry","followers_url":"https://api.github.com/users/FooFoBerry/followers","following_url":"https://api.github.com/users/FooFoBerry/following{/other_user}","gists_url":"https://api.github.com/users/FooFoBerry/gists{/gist_id}","starred_url":"https://api.github.com/users/FooFoBerry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FooFoBerry/subscriptions","organizations_url":"https://api.github.com/users/FooFoBerry/orgs","repos_url":"https://api.github.com/users/FooFoBerry/repos","events_url":"https://api.github.com/users/FooFoBerry/events{/privacy}","received_events_url":"https://api.github.com/users/FooFoBerry/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Sun, 19 Jan 2014 04:44:05 GMT
recorded_with: VCR 2.8.0
